body {
    background-color: rgb(230,230,230);
}

.card {
    background-color: #7FDBFF;
    border: 2px solid #0074D9;
    padding: 5px;
    margin: 20px;
    text-align: center;
    font-size: larger;
    float: left;
}

.card._8 {
    width: 200px;
    height: 250px;
}

.card._16 {
    width: 150px;
    height: 187.5px;
}

.card._24 {
    width: 125px;
    height: 156px;
}

.card._30 {
    width: 100px;
    height: 125px;
}

.teamLogo {
    width: 80%;
    height: 80%;
}

#rules-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    text-align: center;
}

#rules-modal.active {
    display: block;
}

#start-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    text-align: center;
}

#start-modal.active {
    display: block;
}

.start-modal-button {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px;
    border-radius: 5px;
    width: 300px;
    max-width: 80%;
    background-color: #6a5acd; 
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#rules-button {
    background-color: red;
}

#congrats-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    text-align: center;
}

#congrats-modal.active {
    display: block;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal-header .title {
    font-size: 20px;
    font-weight: bold;
}

.modal-body {
    margin-top: 10px;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: rgb(40,40,40);
    color: white;
}

#overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}